<form method="POST">
  <div class="form-group">
    <label>Member Name</label>
    <input class="form-control" name="display-name" type="text" value="{{ newmember.displayName }}">
  </div>
  <input class="btn btn-primary mr-2" type="submit" value="Add" />
  <a class="btn btn-secondary" href="/teamMembers">Cancel</a>
</form>